<div class="card mt-3">
    <div class="card-header">
        <div class="row">
            <div class="col">
                <h3>Lista de clientes</h3>
            </div>
            <div class="col text-end">
                <button class="btn btn-primary" [routerLink]="['novo']">Novo cliente</button>
                <button class="btn btn-secondary" (click)="onRefresh()">Recarregar clientes</button>
            </div>
        </div>
    </div>

    <div class="card-body">
        <!-- Fazemos o "as clients" abaixo para evitar usar dois | async, ou seja,
        para evitarmos usar dois Observables. Então reutilizamos essa variável
         lá no ng-for.-->
        <table class="table table-hover" *ngIf="clients$ | async as clients; else loading">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Cliente</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let client of clients">
                    <td>{{ client.id }}</td>
                    <td> {{ client.name }} </td>
                    <td>
                        <div class="text-end">
                            <button class="btn btn-outline-warning mb-1 btn-sm" (click)="onEdit(client.id)">
                                Editar
                            </button>
                            <button class="btn btn-outline-danger mb-1 btn-sm" (click)="onDelete(client)">
                                Remover
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <ng-template #loading>
            <span>Carregando clientes...</span>
        </ng-template>

        <!-- <ng-template #loading>
            <div *ngIf="error$ | async; else loadingNoError">
                Erro ao carregar clientes. Tente novamente mais tarde.
            </div>
            <ng-template #loadingNoError>
                <span>Carregando clientes...</span>
            </ng-template>
        </ng-template> -->

    </div>
</div>

<ng-template #deleteModal>
    <div class="modal-body text-center">
        <p>Quer realmente remover este cliente?</p>
        <button type="button" class="btn btn-default" (click)="onConfirmDelete()">Sim</button>
        <button type="button" class="btn btn-primary" (click)="onDeclineDelete()">Não</button>
    </div>
</ng-template>